$warning:                         #ffc107;
$dark:                            #212529;

$link-color:                        $warning;
$pagination-bg:                     transparent;
$pagination-border-color:           $warning;
$pagination-disabled-color:         $warning;
$pagination-disabled-bg:            transparent;
$pagination-disabled-border-color:  $warning;
$pagination-focus-color:            $dark;
$pagination-focus-bg:               $warning;
$pagination-hover-color:            $dark;
$pagination-hover-bg:               $warning;
$pagination-hover-border-color:     $warning;
$pagination-active-color:           $dark;
$pagination-active-bg:              $warning;
$pagination-active-border-color:    $warning;
