.cartList-cart-bgimg {
  width:100px;
  background-size: cover;
  background-position: center;
}
.cartList__title--bgcolor {
  background-color:rgb(48, 48, 48);
}
.progress--active {
  color:#F7C244;
  border:2px solid #F7C244;
}
.progress--inactive {
  color:grey;
  border: 2px solid grey;
}
.cartList__price {
  width:18%;
}