.productDetailList {
  height: 450px;
  @media(max-width: 767.98px){
    height: 350px;
  }
}

.productDetailList__img {
  background-size: cover;
  background-position: center;
}

.countGroup__input {
  width:60px;
}

.countGroup__btn {
  width:2.2rem;
  &--color {
    background-color: transparent;
    color:#ffc107;
  }
  &--hover:hover {
    background-color: #ffc107;
    color:black;
  }
  &--active:active {
    outline:#8D7336 solid 4px;
  }
}