// 使滾動超出頁面的部分色調保持一致
html {
  background-color: $dark;
  height:100%;
}

// 給footer置底預留空間
body {
  position: relative;
  margin: 0;
  padding-bottom: 10rem;
  min-height:100%;
  background-color: $dark;
}

